main form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Bungee', cursive;
}
.counter{
  position: absolute;
  right: 5%;
}
.counterNeg {
  color:red;
}

textarea {
  height: 1.5em;
  display: block;
  width: 100%;
  border-top:none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #725D5D;
  background-color: #f4f1ec;
  margin-bottom: 10px;
}

input {
  position: absolute;
  left: 5%;
  background-color: #4056A1;
  color: #ffffff;
}


