main form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Bungee', cursive;
}
.counter{
  position: absolute;
  right: 5%;
}
.counterNeg {
  color:red;
}

form {
  margin: 15px;
}

textarea {
  height: 3.5em;
  display: block;
  width: 100%;
  border-top:none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #725D5D;
  background-color: #f4f1ec;
  margin-bottom: 10px;
  padding: 10px;
}

input {
  position: absolute;
  left: 5%;
  background-color: #4056A1;
  color: #ffffff;
}

#error {
  display:none;
  text-align: center;
  border: 3px solid red;
  margin:25px;
}
